<div class="table_info_outer">
  <div class="product-page--submit-action">
    {% assign disabled = pick_an_option %}
    {% unless current_variant.available %}
      {% assign disabled = true %}
    {% endunless %}
    {% if product.tags contains 'used-product' %}
      <a href="https://vanguardstorefixtures.com/pages/contact" class="btn">Contact Us</a>
    {% else %}
      <button
        type="submit"
        name="add"
        id="purchase"
        class="btn {% if block.settings.show_smart_checkout and product.selling_plan_groups.size == 0 %} secondary-button{% endif %}"
        {% if disabled %}
          disabled
        {% endif %}
        data-cart-action="{{ settings.cart-action }}"
      >
        <!--
          {% if pick_an_option or current_variant.available %}
            {{ 'products.product.add_to_cart' | t }}
          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        -->
        cart
      </button>
    {% endif %}

    {% if block.settings.show_smart_checkout %}
      {{ form | payment_button }}
    {% endif %}
  </div>
</div>
{% render 'product-select', section_id: section.id, variants: product.variants %}
