
<section class="homepage-sections-wrapper" style="padding-top:{{ section.settings.padding_top }}px;padding-bottom:{{ section.settings.padding_bottom }}px;">
    <div class="{{ section.settings.section_width }}">
      {{ section.settings.custom_liquid }}
    </div>
</section>

{% schema %}
{
  "name": "Custom Liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "default": "<div style='text-align:center;'><h2>Custom Liquid</h2><p style='margin-bottom:0;'>Add app snippets or other Liquid code to create advanced customizations.</p></div>"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width",
      "options": [
          {
            "value": "container-full-width",
            "label": "Full width"
          },
          {
            "value": "container",
            "label": "Page width"
          }
      ],
      "default": "container"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}