<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="calculater-wrapper">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="cal-contain text-white">
              {% if section.settings.cost != blank %}
                <h5>{{ section.settings.cost }}</h5>
              {% endif %}
              {% if section.settings.count != blank %}
                <h2>{{ section.settings.count }}</h2>
              {% endif %}
              {% if section.settings.count_desc != blank %}
                <p>{{ section.settings.count_desc }}</p>
              {% endif %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="cal-box">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Calculator",
  "tag": "section",
  "class": "calculator comm-padd",
  "settings": [
    {
      "type": "text",
      "id": "cost",
      "label": "Cost Text"
    },
    {
      "type": "text",
      "id": "count",
      "label": "Count"
    },
    {
      "type": "textarea",
      "id": "count_desc",
      "label": "Count Description"
    }
  ],
  "presets": [
    {
      "name": "Calculator"
    }
  ]
}
{% endschema %}
