<div class="container">
  <div class="row">
    {% assign page_url = collection.handle %}
    {% for link in linklists[section.settings.main_linklist].links %}
      {% assign menu_url = link.handle %}
      {% if page_url == menu_url %}
        {% for sub_link in link.links %}
          {% for collection in collections %}
            {% if sub_link.title == collection.title %}
              <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                <a href="{{ collection.url}}">
                  <div class="all-content-wrapper">
                    <div class="collectionList-image-wrapper">
                      <img src="{{collection.image | img_url:'master' }}">
                    </div>
                    <div class="collectionList-bottom">
                      <div class="collectionList-heading-wrapper">
                        <h6>{{ collection.title }}</h6>
                      </div>


                      {% if collection.products.size > 1 %}
                        <div class="collectionList-content-wrapper">
                          <p>Shop {{ collection.products.size }} categories</p>
                        </div>
                      {% elsif collection.products.size == 1 %}
                        <div class="collectionList-content-wrapper">
                          <p>1 product</p>
                        </div>
                      {% else %}
                        <div class="collectionList-content-wrapper">
                          <p>No products</p>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </a>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Equipment collection",
  "tag":"section",
  "class":"equipment-collectionsec section sec-gapTopMd sec-gapBottomSm",
  "settings": [
   {
     "type":"text",
     "id":"title",
     "label":"Title"
   },
   {
    "type": "link_list",
    "id": "main_linklist",
    "label": "Main menu"
    }
  ],
  "blocks":[
    {
      "type":"equipment_collection",
      "name":"Equipment collection",
       "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type":"richtext",
        "id":"content",
        "label":"Content"
      },
      {
        "type": "url",
        "id": "product_link",
        "label": "Product link"
      }
    ]
    }

  ],
   "presets": [
  {
    "name": "Equipment collection list"
  }
]
}
{% endschema %}
