<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pdf-container">
        {% if section.settings.heading != blank %}
          <div class="pdf-image-title">
            <div class="tab-pdf-image">
              <img src="https://cdn.shopify.com/s/files/1/0790/3094/4025/files/Group_766.png?v=1689141605">
            </div>
            <div class="pdf-title">
              {{ section.settings.heading }}
            </div>
          </div>
        {% endif %}
        {% if section.settings.btn_text != blank %}
          <div class="pdf-btn">
            <a href="{{ section.settings.btn_link }}" class="btn" target="_blank">{{ section.settings.btn_text }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product Catalogs PDF",
  "tag": "section",
  "class": "catalog-pdf comm-padd",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Product Catalogs PDF"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
