<div class="container vicstore-image-details">
  {{ page.content }}
</div>
{% schema %}
  {
    "name": "Details Content",
    "class": "vicstore-details-containt comm-padd",
    "settings": [],
    "presets": [
      {
        "name": "Details Content"
      }
    ]
  }
{% endschema %}